#app {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #242424;
  color:white;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

h1 {
    text-align: center;
padding-top: 5vh;
}

.calculator {
  border: 2px solid #36363c;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outScr {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border:1 px soild;
  background: #2c2c2c;
  font-size: 20px;
  cursor: default;
  transition: all 0.5s ease-in-out;
}
button:hover {
  color: rgb(246, 255, 0);
  z-index: 1;
}

.jumbo {
  width: 160px;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
}
.author a {
  text-decoration: none;
  color: #d4d4d4;
  line-height: 26px;
  transition: all 0.2s ease-in-out;
}

.author a:hover {
    color:aqua;
}