body {
  background-color: #333;
  color: #fff;
}

.Heading{
  text-align: center;
  user-select: none;
}
.comment {
  text-align: center;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.comment:hover {
  color: aqua;
}

#editor,
#preview {
  display: inline-block;
  width: 45%;
  height: 75vh;
  margin: 20px;
  padding: 1vw;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  border: solid 1px #a9fa7a;
}

#preview {
  overflow-y: auto;
}


code {
    background-color: #1e1f29;
    padding: 2px;
}

img {
    max-width:100%;
}

#editor:hover,
#preview:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}


@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    #editor,
    #preview {
        width: 90%;
        margin: 10px;
        min-height: 90vh;
    }
}
