body {
  background-color: #333;
  color: #fff;
}

.App {
  display: flex;
  justify-content: space-around;
}

#editor,
#preview {
  width: 45%;
  height: 90vh;
  margin: 20px;
  padding: 10px;
  font-size: 16px;

  transition: all 0.2s ease-in-out;
}

#preview, #editor:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#preview {
  border: solid 1px #dcdcdc;
  overflow-y: scroll;
}

code {
    background-color: #dcdcdc;
    padding: 2px;
}

img {
    max-width:100%;
}

#editor:hover,
#preview:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    #editor,
    #preview {
        width: 90%;
        margin: 10px;
    }
}
